name: cargo-deny
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v1
