name: coverage
on: [push, pull_request]
jobs:
  coverage:
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # - name: Install tarpaulin
      #   run: cargo install cargo-tarpaulin

      - name: Generate code coverage
        run: cargo +nightly tarpaulin -v --all-features --bins --lib --doc --timeout 120 --out Lcov --output-dir ./coverage --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }}

      # - name: Upload to coveralls.io
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
